[access]
	inheritFrom = All-Projects
[submit]
[access "refs/*"]
	owner = group user/Mamatha43
[access "refs/for/refs/*"]
	label-Code-Review = -2..+2 group user/Mamatha43
	label-Verified = -1..+1 group user/Mamatha43
	push = group user/Mamatha43
	read = group user/Mamatha43
	rebase = group user/Mamatha43
	removeReviewer = group user/Mamatha43
	submit = group user/Mamatha43
[access "refs/heads/*"]
	create = group user/Mamatha43
	push = +force group user/Mamatha43
	pushMerge = group user/Mamatha43
	read = group user/Mamatha43
[access "refs/tags/*"]
	push = group user/Mamatha43
	push = +force group user/Mamatha43
